main.content
	.container
		.breadcrumbs
			ul
				li
					a(href="") Блог
				li 
					span
						img(src="img/breadcrumbs_arrow.svg" alt="")
				li
					a(href="") Гиды
				li 
					span
						img(src="img/breadcrumbs_arrow.svg" alt="")
				li
					a(href="") Европа
				li 
					span
						img(src="img/breadcrumbs_arrow.svg" alt="")
				
				li
					span 5 дней в Берлине: гид от тревел-эксперта OneTwoTrip
		.article_detail
		
			.article_top(style="background-image:url(img/plug-1.png)")
				.article_top_name 5 дней в Берлине: гид от тревел-эксперта OneTwoTrip
			.article_columns
				.article_left_column
					.article_info_params
						.article_info_hash Россия
						.article_info_date 20 февраля 2017
					.article_date Обновлено 10 июня 2020
					.article_grey_line
					.article_socials
						.artilce_socials_caption Поделиться в соц. сетях
						.artilce_socials_items
							a(href="https://www.facebook.com/onetwotrip/" target="_blank")
								img(src="img/facebook_white.svg" alt="")
							a(href="https://vk.com/onetwotrip" target="_blank")
								img(src="img/vk_white.svg" alt="")
							a(href="https://telegram.me/OneTwoTripRussia" target="_blank")
								img(src="img/tg_white.svg" alt="")
					.article_grey_line
					.article_book_link 
						img(src="img/book.svg" alt="")
						| Показать оглавление 
					.article_nav
						.article_nav_top
							.article_nav_caption Оглавление
							.icon_close
						ul
							li
								a.active(href="") Аэропорт Берлин-Тегель
							li
								a(href="") Аэропорт Шёнефельд
							li
								a(href="") Александерплац
							li
								a(href="") Церковь святой Марии и церковь святого Николая
							li
								a(href="") Музейный остров
							li
								a(href="") Рейхстаг
							li
								a(href="") Бранденбургские ворота и Большой Тиргартен
							li
								a(href="") Мемориал жертвам Холокоста
							li
								a(href="") Потсдам: парк Сан-Суси и дворец Цецилиенхоф
							li
								a(href="") Бюджет на всю поездку
							li
								a(href="") Советы эксперта
				.article_right_column
					.artilce_intro Пять дней на поездку в столицу Германии — это много или мало? Вполне достаточно, если спланировать маршрут с умом! А чтобы не тратить на это своё время, воспользуйтесь готовым гидом от нашего тревел-эксперта.
					h2 Как добраться из аэропорта в город
					img(src="img/article_2.png" alt="")
					h3 Аэропорт Берлин-Тегель
					p Автобус 
						a(href="") BVG 
						| довезёт вас до Центрального вокзала за 25 минут. Стоимость билетов начинается от 1,70 € и зависит от выбранной категории. Также можно добраться до города на такси. Поездка на Uber до центра города обойдётся в 26–35 €.
					h3 Аэропорт Шёнефельд
					p Из аэропорта Шёнефельд легко добраться до Александерплац на поезде. Дорога займёт около 25 минут, а билет обойдётся в 3,40 €. Стоимость поездки на Uber в центр города составит от 42 до 60 €. В Берлине предлагаем остановиться в одном из следующих хостелов. Первый из них располагается ближе к аэропорту Берлин-Тегель, а второй — в центре города. 
					ul
						li
							a(href="") Wallyard Concept Hostel Berlin
						li
							a(href="") The Circus Hostel
					.article_number_info
						span 25 минут 
						| среднем время на дорогу из двух аэропортов
					h2 Что посмотреть в городе
					p Берлин — столица Германии и очень разнообразный город, сочетающий в себе наследие важнейших исторических событий, современные веяния культуры и свободные нравы.
					img(src="img/article_3.png" alt="")
					h3 Александерплац
					p Одно из самых знаковых мест Берлина. Некогда рыночная площадь, во время войны она была разрушена, а после восстановлена и окружена современными постройками. Площадь венчают большие Часы мира — вращающаяся скульптура, отображающая время в разных частях мира. Недалеко от Александерплац возвышается 368-метровая Берлинская телебашня. На неё можно подняться, чтобы осмотреть город с высоты. Билет обойдётся в 16,50 €. 
					.article_number_info
						span 368 метров
						| высота Берлинской телебашни
					img(src="img/article_4.png" alt="")
					h3 Церковь святой Марии и церковь святого Николая
					p Одно из самых знаковых мест Берлина. Некогда рыночная площадь, во время войны она была разрушена, а после восстановлена и окружена современными постройками. Площадь венчают большие Часы мира — вращающаяся скульптура, отображающая время в разных частях мира. Недалеко от Александерплац возвышается 368-метровая Берлинская телебашня. На неё можно подняться, чтобы осмотреть город с высоты. Билет обойдётся в 16,50 €. 
					img(src="img/article_5.png" alt="")
					.img_after Игорь Стомахин / PhotoXPress
					h3 Музейный остров
					p Перейдя по пешеходному мосту Фридрихсбрюке (Friedrichsbrücke), вы попадёте на знаменитый Музейный остров. На нём расположены исторические здания, внутри которых сейчас открыты 
						a(href="") Музей Боде, 
						a(href="") Старая национальная галерея, 
						a(href="") культовый Пергамский музей
						| и 
						a(href="") Старый 
						| и 
						a(href="") Новый музеи. 
						| Перейдите по ссылкам, чтобы узнать о каждом из них подробнее.
					blockquote Главной достопримечательностью музейного острова является символ города — Берлинский кафедральный собор. Зайдите в него, чтобы посмотреть на величественный купол и архитектуру.
					img(src="img/article_6.png" alt="")
					h3 Рейхстаг
					p Рейхстаг — здание, в котором в настоящее время заседает национальный парламент Германии. Само здание интересно большим стеклянным куполом, откуда открываются панорамные виды на Берлин. Посещение Рейхстага и его купола бесплатно, однако все посетители должны предварительно зарегистрироваться. Удобнее всего сделать это заранее онлайн.
					.videoWrapper
						iframe(width="560" height="315" src="https://www.youtube.com/embed/Ph06OsoaJJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
					h3 Бранденбургские ворота и Большой Тиргартен
					p На Парижской площади стоят Бранденбургские ворота — одна из главных достопримечательностей Берлина. С площади ворота ведут в крупнейший парк города — Большой Тиргартен. Помимо огромной зелёной территории с прудами и аллеями, которые местами напоминают лес, в нём стоит памятник Гёте, Мемориал павшим советским воинам и Колонна Победы. Если сворачивать на узкие тропинки, в парке можно найти цветники с розами, Рододендронхайн, памятник Бетховену и Берлинский зоопарк.
					img(src="img/article_8.png" alt="")
					h3 Мемориал жертвам Холокоста
					p Недалеко от Бранденбургских ворот находится ещё одна важнейшая достопримечательность Берлина — Мемориал жертвам Холокоста. Он выстроен в форме лабиринта из колонн разной высоты, между которыми можно ходить.
					h2 Окрестности Берлина
					img(src="img/article_9.png" alt="")
					h3 Потсдам: парк Сан-Суси и дворец Цецилиенхоф
					p Потсдам — небольшой городок недалеко от Берлина, известный живописными парками и изысканными дворцами. Исторический центр города представляет из себя небольшие здания и мощёные улицы, а также имеет собственные Бранденбургские ворота.
					p Как добраться: удобнее всего доехать до Потсдама на поезде, который отходит от Центрального вокзала Берлина и идёт 25 минут. Билет обойдётся в 3,40 €.
					p Прибыв в город, отправляйтесь в парк Сан-Суси — обширную территорию с дворцом, садами и примечательными павильонами, некогда служившими летней резиденцией Фридриха Великого. Вход в парк свободный.
					p Как добраться: от вокзала Потсдама до парка можно прогуляться через центр города в течение 40 минут (около 3,2 километров) или доехать на трамвае за 5 минут — стоимость билета составит 1,50 €.
					h3 Мы собрали все в одном месте для вашего удобства
					img(src="img/article_map.png" alt="")
					h3 Советы эксперта
					ul.advices
						li Спланируйте передвижения в городах и между ними, воспользуйтесь сервисом Rome2Rio.
						li Пользуйтесь офлайн-картами Citywalks.me и Maps.me.
						li Посмотреть информацию об аренде и забронировать автомобиль вы можете здесь.
						li Интересные экскурсии по городу вы найдёте на этой странице.
					.slider_widget.owl-carousel
						.slider_widget_item
							.slider_widget_top
								.slider_widget_info
									.slider_widget_caption Отель
									.slider_widget_name Из Москвы на двоих
								.slider_widget_icon
									img(src="img/hotel_icon.svg" alt="")
							.slider_widget_bottom
								.slider_widget_days 7 ночей
								.slider_widget_price от 56 567 ₽
							a(href="")
						.slider_widget_item
							.slider_widget_top
								.slider_widget_info
									.slider_widget_caption Тур
									.slider_widget_name Из Москвы на двоих
								.slider_widget_icon
									img(src="img/tour_icon.svg" alt="")
							.slider_widget_bottom
								.slider_widget_days 7 ночей
								.slider_widget_price от 56 567 ₽
							a(href="")
						.slider_widget_item
							.slider_widget_top
								.slider_widget_info
									.slider_widget_caption Перелёт
									.slider_widget_name Из Москвы на двоих
								.slider_widget_icon
									img(src="img/plane_icon.svg" alt="")
							.slider_widget_bottom
								.slider_widget_days 7 ночей
								.slider_widget_price от 56 567 ₽
							a(href="")

					.tags
						a(href="") Берлин
						a(href="") Путешествие
						a(href="") Германия
						a(href="") Экскурсии
						a(href="") Туризм
					.article_socials_mobile
						.artilce_socials_caption Поделиться в соц. сетях
						.artilce_socials_items
							a(href="https://www.facebook.com/onetwotrip/" target="_blank")
								img(src="img/facebook_white.svg" alt="")
							a(href="https://vk.com/onetwotrip" target="_blank")
								img(src="img/vk_white.svg" alt="")
							a(href="https://telegram.me/OneTwoTripRussia" target="_blank")
								img(src="img/tg_white.svg" alt="")
	.read_more
		.container
			.read_more_caption Читайте также
			.read_more_items.owl-carousel.off
				.article.size_middle
					.article_img
						img(src="img/plane_bg.png" alt="")
					.article_info
						.article_info_name Что делать с моим бронированием?
						.article_info_params
							.article_info_hash Путешествия
							.article_info_date 20 апреля 2020
					a(href="")
				.article.size_middle
					.article_img
						img(src="img/plane_bg.png" alt="")
					.article_info
						.article_info_name Что делать с моим бронированием?
						.article_info_params
							.article_info_hash Путешествия
							.article_info_date 20 апреля 2020
					a(href="")
				.article.size_middle
					.article_img
						img(src="img/plane_bg.png" alt="")
					.article_info
						.article_info_name Что делать с моим бронированием?
						.article_info_params
							.article_info_hash Путешествия
							.article_info_date 20 апреля 2020
					a(href="")




			