main.content
	.container
		.breadcrumbs
		
			ul
				li
					a(href="") Блог
				li 
					span
						img(src="img/breadcrumbs_arrow.svg" alt="")
				li
					span Поиск	
		.search_page
		
			.search_top
				.search_count НАЙДЕНО 20 материалов по запросу «Как эконимить на поездках» 
				.search_sort
					a(href="" class="active") По релевантности
					a(href="") По дате добавления
			.search_results
				.article
					.article_info
						.article_info_name Как экономить на звонках в поездках по России и за границей
						.article_info_params
							.article_info_hash Россия
							.article_info_date 20 февраля 2017
					a(href="")
				.article
					.article_info
						.article_info_name Зальцбург: перемещаемся в 18-й век без машины времени
						.article_info_params
							.article_info_hash Россия
							.article_info_date 20 февраля 2017
					a(href="")
				.article
					.article_info
						.article_info_name Все трудности и все радости большого семейного путешествия
						.article_info_params
							.article_info_hash Россия
							.article_info_date 20 февраля 2017
					a(href="")
				.article
					.article_info
						.article_info_name Чао, Италия: 17 лёгких способов сэкономить в поездке
						.article_info_params
							.article_info_hash Россия
							.article_info_date 20 февраля 2017
					a(href="")
				.article
					.article_info
						.article_info_name Мы знаем 10 реальных способов сэкономить на билетах. Расскажем обо всех!
						.article_info_params
							.article_info_hash Россия
							.article_info_date 20 февраля 2017
					a(href="")
				.article
					.article_info
						.article_info_name Как не нужно экономить на путешествиях: 7 распространённых ошибок
						.article_info_params
							.article_info_hash Россия
							.article_info_date 20 февраля 2017
					a(href="")
				.article
					.article_info
						.article_info_name Все трудности и все радости большого семейного путешествия
						.article_info_params
							.article_info_hash Россия
							.article_info_date 20 февраля 2017
					a(href="")
				