main.content
	.blog
		.container
			.articles
				.articles_top
					.article.size_big
						.article_img
							img(src="img/big_size.png" alt="")
						.article_info
							.article_info_name 10 причин поехать в Австралию
							.article_info_params
								.article_info_hash Австралия
								.article_info_date 20 апреля 2020
						a(href="")
					.articles_top_right
						.other_flex
							.article.size_mini
								.article_img
									img(src="img/orange_coin.png" alt="")
								.article_info
									.article_info_name
										span 16 
										| способов сэкномить на поездке
								a(href="")
							.article.size_mini
								.article_img
									img(src="img/other_bg.png" alt="")
								.article_info
									.article_info_name Как выбрать дешевое такси в Бангкоке
								a(href="")
						.article.size_middle
							.article_img
								img(src="img/plane_bg.png" alt="")
							.article_info
								.article_info_name Что делать с моим бронированием?
								.article_info_params
									.article_info_hash Путешествия
									.article_info_date 20 апреля 2020
							a(href="")
				.articles_middle
					.article.size_middle
						.article_img
							img(src="img/middle_size.png" alt="")
						.article_info
							.article_info_name Что делать с моим бронированием?
							.article_info_params
								.article_info_hash Путешествия
								.article_info_date 20 апреля 2020
						a(href="")
					.article.size_mini
						.article_img
							img(src="img/reasons_bg.png" alt="")
						.article_info
							.article_info_name
								span 5 
								| причин влюбиться в Панган
						a(href="")
					.article.size_middle
						.article_img
							img(src="img/what_bg.png" alt="")
						.article_info
							.article_info_name Что делать туристам, запланировавшим путешествие в разгар пандемии?
							.article_info_params
								.article_info_hash Путешествия
								.article_info_date 20 апреля 2020
						a(href="")
					
					.wanttobeauthor
						.wanttobeauthor_img
							img(src="img/wanttobe.png" alt="")
						.wanttobeauthor_info
							.wanttobeauthor_info_text У вас есть интересная история ?
							a(href="") Стать автором
				.articles_bottom
					.articles_bottom_left
						.other_flex
							.article.size_mini
								.article_img
									img(src="img/8_bg.png" alt="")
								.article_info
									.article_info_name
										span 8 
										| природных чудес Австрии
								a(href="")
							.article.size_mini
								.article_img
									img(src="img/cat.png" alt="")
								.article_info
									.article_info_name Гид по лучшему стрит-арту Амстердама
								a(href="")
						.subscribe
							.subscribe_form
								.subscribe_caption Подпишитесь на блог
								.subscribe_text И получайте советы от тревел экспертов, лайфаки, и просто интересные истории
								form 
									input(type="email" placeholder="Введите адрес почты")
									input(type="submit" value="")
							.subscribe_thanks
								.subscribe_caption Отлично!
								.subscribe_text Теперь вы первыми будете узнавать о новых материалах нашего блога!
					.article.size_big
						.article_img
							img(src="img/big_size.png" alt="")
						.article_info
							.article_info_name 10 причин поехать в Австралию
							.article_info_params
								.article_info_hash Австралия
								.article_info_date 20 апреля 2020
						a(href="")






	.blog_list
		.container
			.article
				.article_img
					img(src="img/list1.png" alt="")
				.article_info
					.article_info_name 10 завораживающих мест в Германии, о которых мало кто знает
					.article_info_params
						.article_info_hash Европа
						.article_info_date 12 апреля 2020
				a(href="")
			.article
				.article_img
					img(src="img/list2.png" alt="")
				.article_info
					.article_info_name Почему стоит отправиться в путешествие по югу Франции на машине
					.article_info_params
						.article_info_hash Европа
						.article_info_date 12 апреля 2020
				a(href="")
			.article
				.article_img
					img(src="img/list3.png" alt="")
				.article_info
					.article_info_name Перевозка багажа в автобусе: всё, что вы хотели знать
					.article_info_params
						.article_info_hash Европа
						.article_info_date 12 апреля 2020
				a(href="")
			.article
				.article_img
					img(src="img/list4.png" alt="")
				.article_info
					.article_info_name Загадочная Мексика: мифы или правда
					.article_info_params
						.article_info_hash Европа
						.article_info_date 12 апреля 2020
				a(href="")
			.article
				.article_img
					img(src="img/list5.png" alt="")
				.article_info
					.article_info_name Ресторан будущего: роботы в качестве официантов
					.article_info_params
						.article_info_hash Европа
						.article_info_date 12 апреля 2020
				a(href="")

