main.content
	.container
		.breadcrumbs

			ul
				li
					a(href="") Блог
				li 
					span
						img(src="img/breadcrumbs_arrow.svg" alt="")
				li
					span Поиск	
		.search_page
		
			.search_top
				.search_count НАЙДЕНО 0 материалов по запросу «Как кормить домашних животных» 
				.search_sort
					a(href="" class="active") По релевантности
					a(href="") По дате добавления
			.search_noresults
				img(src="img/noresults.svg" alt="")
				.text По вашему запросу ничего не найдено<br>Попробуйте изменить запрос

				