footer.footer
    .footer_top
        .container
            .footer_top_desc 
                .footer_top_caption OneTwoTrip Блог
                .footer_top_text Блог о путешествиях, отдыхе и развлечениях.  У нас вы найдете ответ на самый главный вопрос: куда и как отправиться отдыхать так, чтобы потом было что вспомнить и о чем рассказать другим. Присоединяйтесь!
            .footer_top_right
                .footer_top_caption Мобильное приложение
                .footer_top_imgs
                    a(href="http://adj.otthyper.com/adjust/click/?network=OTT_Website&campaign=footer&adgroup=blog&install_callback=" target="_blank")
                        img(src="img/AppleStore.png" alt="")
                    a(href="http://adj.otthyper.com/adjust/click/?network=OTT_Website&campaign=footer&adgroup=blog&install_callback=" target="_blank")
                        img(src="img/GooglePlay.png" alt="")
    .footer_bottom
        .container
            .footer_bottom_caption Популярные направления
            .footer_bottom_desc.owl-carousel
                ul
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_SIP/") Москва — Симферополь
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_AER/") Москва — Сочи
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/SIP_MOW/") Симферополь — Москва
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_LED/") Москва — Санкт-Петербург


                ul
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_KRR/") Москва — Краснодар
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_MRV/") Москва — Минеральные Воды
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/AER_MOW") Сочи — Москва
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_KIV/") Москва — Кишинев

                ul
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_AAQ/") Москва — Анапа
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/LED_SIP/") Санкт-Петербург — Симферополь
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/LED_AER/") Санкт-Петербург — Сочи
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_MCX/") Москва — Махачкала

                ul
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/LED_MOW/") Санкт-Петербург — Москва
                    li
                        a(href="https://www.onetwotrip.com/ru/aviabilety/MOW_TIV/") Москва — Тиват
                    
                    
                    
                    
                    
                    
                    
                    
    .footer_copyright
        .container
            .copy ©2020 ООО «Вайт Тревел». Все права защищены.
            .soc
                a(href="https://www.facebook.com/onetwotrip/" target="_blank")
                    img(src="img/facebook.svg" alt="")
                a(href="https://vk.com/onetwotrip" target="_blank")
                    img(src="img/vk.svg" alt="")
                a(href="https://twitter.com/onetwotrip?lang=ru" target="_blank")
                    img(src="img/tw.svg" alt="")
                a(href="https://telegram.me/OneTwoTripRussia" target="_blank")
                    img(src="img/tg.svg" alt="")
                a(href="https://www.instagram.com/onetwotrip/" target="_blank")
                    img(src="img/inst.svg" alt="")
                a(href="https://www.youtube.com/channel/UCDD3hhShfK_9h-MmaMFAR3w" target="_blank")
                    img(src="img/youtube.svg" alt="")



include ./footer-modals.pug
script(src="https://code.jquery.com/jquery-3.5.1.min.js" )
script(src="libs/owl/owl.carousel.min.js")
script(src="js/common.js")
