header.header
	.container
		.logo
			a(href="/")
				img(src="img/logo.svg" alt="")
		nav.menu
			ul
				li
					a(href="") Блог
				li
					a(href="").active Отдых с умом
				li
					a(href="") истории
				li
					a(href="") гиды
					.menu_inner
						.container
							ul
								li
									a(href="") Все статьи
								li
									a(href="") # Россия
								li
									a(href="") # Европа
								li
									a(href="") # Азия
								li
									a(href="") # Америка
								li
									a(href="") # Австралия
								li
									a(href="") # Африка
				li
					a(href="") Повестка
				li
					a(href="") куда поехать
		
		.hamburger
			span
			ul
				li
					a(href="") 
						img(src="img/menu_1.svg" alt="")
						| Авиабилеты
				li
					a(href="") 
						img(src="img/menu_2.svg" alt="")
						| Отели
				li
					a(href="") 
						img(src="img/menu_3.svg" alt="")
						| Туры
				li
					a(href="") 
						img(src="img/menu_4.svg" alt="")
						| Ж/Д
				li
					a(href="") 
						img(src="img/menu_5.svg" alt="")
						| Авто
				li
					a(href="") 
						img(src="img/menu_6.svg" alt="")
						| Бонусы
				li
					a(href="") 
						img(src="img/menu_7.svg" alt="")
						| Спецпроекты
		.search
			.icon_search
			form
				input(type="text" name="" placeholder="Поиск")
				input(type="submit" value="")
		//- .icons

