extends ../layout/layout.pug
block vars
	- var title = 'Тег';
block header
	include ../includes/header.pug
block content
	include ../includes/content-tag.pug
block footer
	include ../includes/footer.pug     
              
